{{- $email := promptStringOnce . "email" "Email for git" -}}
{{- $name := promptStringOnce . "name" "Username For git" -}}
{{- $has_root := promptBoolOnce . "has_root" "Have you sudo access?" }}
{{- $platform := promptChoiceOnce . "platform" "Choose host type" (list "server" "desktop") -}}
{{- $gpu := "none" -}}
{{- $is_laptop := false -}}
{{- $has_custom_wm := false -}}

{{- if eq $platform "desktop" -}}
{{-   $gpu = promptChoiceOnce . "gpu" "Choose your GPU type" (list "amd" "intel" "nvidia" "none") -}}
{{-   $is_laptop = promptBoolOnce . "is_laptop" "Is it a laptop?" -}}
{{-   $has_custom_wm = promptBoolOnce . "has_custom_wm" "Are you use custom WM?" -}}
{{- end -}}

{{- $theme := env "CHEZMOI_THEME" -}}
{{- if not $theme -}}
{{-     if hasKey . "theme" -}}
{{-         $theme = .theme.name -}}
{{-     else -}}
{{-         $theme = "moss-clay-dark.toml" -}}
{{-     end -}}
{{- end -}}
{{- $themeFileContent := include (joinPath "themes" $theme) -}}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    has_root = {{ $has_root }}
    platform = {{ $platform | quote }}
    gpu = {{ $gpu | quote }}
    is_laptop = {{ $is_laptop }}
    is_server = {{ eq $platform "server" }}
    is_desktop = {{ eq $platform "desktop" }}
    has_custom_wm = {{ $has_custom_wm }}

[data.font]
    mono = "0xProto Nerd Font Mono"
    propo = "0xProto Nerd Font Propo"
    regular = "AlegreyaSans"
    serif = "Alegreya"
    sans = "AlegreyaSans"

[data.font.size]
    XS = 9
    S = 11
    M = 13
    L = 17
    XL = 20
    XXL = 30

{{ $themeFileContent }}

[edit]
    watch = true

[git]
    autoAdd = true
    autoCommit = false
    autoPush = false

{{ if lookPath "nvim" }}
[merge]
    command = "nvim"
    args = ["-d"]
{{ end }}
