export XDG_BIN_HOME="$HOME/.local/bin"     # Scripts and apps
export XDG_CONFIG_HOME="$HOME/.config"     # Config files
export XDG_CACHE_HOME="$HOME/.cache"       # Cache files
export XDG_DATA_HOME="$HOME/.local/share"  # Application data
export XDG_STATE_HOME="$HOME/.local/state" # Logs and state files

set -a
source $XDG_CONFIG_HOME/user-dirs.dirs
set +a

export TMUX_TMPDIR="$XDG_CACHE_HOME/tmux"

export ZDOTDIR="${XDG_CONFIG_HOME:-$HOME/.config}/zsh"
export ZSH_CACHE="${XDG_CACHE_HOME:-$HOME/.cache}/zsh"

{{ if lookPath "nvim" }}
export EDITOR="nvim"
export VISUAL="nvim"
export SUDO_EDITOR="nvim"
export MANPAGER='nvim +Man!'
{{ end }}
{{ if lookPath "zathura" }}
export READER="zathura"
{{ end }}

export OPENER="xdg-open"

export GOPATH=$XDG_DATA_HOME/go
export GOBIN=$GOPATH/bin
export CARGO_HOME=$XDG_DATA_HOME/cargo

export PATH="$PATH:$XDG_BIN_HOME:$GOBIN:$XDG_DATA_HOME/gem/ruby/3.4.0/bin/"

{{ if .has_custom_wm }}
export GTK_BACKEND="wayland,x11"
export QT_QPA_PLATFORM="wayland;xcb"
export SDL_VIDEODRIVER="wayland"
export CLUTTER_BACKEND="wayland"

export QT_AUTO_SCREEN_SCALE_FACTOR=1
export QT_WAYLAND_DISABLE_WINDOWDECORATION=1
export QT_QPA_PLATFORMTHEME="qt5ct"
{{ end }}

{{ if eq .platform "desktop" }}
export XCURSOR_PATH="$XDG_DATA_HOME/icons/"
{{ end }}
