
$background_color = {{ .theme.background }}FF
$foreground_color = {{ .theme.foreground }}FF
$main_color = {{ .theme.main_color_background }}FF
$red = {{ .theme.brightred }}FF
$green = {{ .theme.brightgreen }}FF

$font = {{ .font.serif }}
$icons = {{ .font.propo }}
