layout {
    background-color "#{{ .theme.surface_variant }}"

    border {
        active-gradient from="#{{ .theme.primary_container }}" to="#{{ .theme.inverse_surface }}" angle=155
        inactive-color "#{{ .theme.outline_variant }}"
        urgent-color "#{{ .theme.outline_variant }}"
    }

    shadow {
        color "#{{ .theme.shadow_rgba }}"
        inactive-color "#{{ .theme.shadow_rgba }}"
    }

    tab-indicator {
        active-color "#{{  .theme.secondary }}"
        inactive-color "#{{ .theme.surface }}"
        urgent-color "#{{ .theme.secondary }}"
    }

    insert-hint {
        color "#{{ .theme.secondary }}"
    }
}

overview {
    backdrop-color "#{{ .theme.surface }}"
    workspace-shadow {
        color "#{{ .theme.shadow_rgba }}"
    }
}

recent-windows {
    highlight {
         active-color "#{{ .theme.primary_container }}ff"
        urgent-color "#{{ .theme.outline_variant }}ff"
    }
}
