
hotkey-overlay {
    hide-not-bound
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/pictures/screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
}

blur {
    // off
    passes 3
    offset 3.0
    noise 0.02
    saturation 1.0
}
