
hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/pictures/screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
}

