background = #{{ .theme.background }}
foreground = #{{ .theme.foreground }}

selection-background = #{{ .theme.highlight_background }}
selection-foreground = #{{ .theme.highlight_foreground }}

cursor-color = #{{ .theme.cursor_background }}
cursor-text = #{{ .theme.cursor_foreground }}

# black
palette = 0=#{{ .theme.black }}
# red
palette = 1=#{{ .theme.red }}
# green
palette = 2=#{{ .theme.green }}
# yellow
palette = 3=#{{ .theme.yellow }}
# blue
palette = 4=#{{ .theme.blue }}
# magenta
palette = 5=#{{ .theme.magenta }}
# cyan
palette = 6=#{{ .theme.cyan }}
# white
palette = 7=#{{ .theme.lightgray }}

# bright black (comments)
palette = 8=#{{ .theme.darkgray }}
# bright red
palette = 9=#{{ .theme.brightred }}
# bright green
palette = 10=#{{ .theme.brightgreen }}
# bright yellow
palette = 11=#{{ .theme.brightyellow }}
# bright blue
palette = 12=#{{ .theme.brightblue }}
# bright magenta
palette = 13=#{{ .theme.brightmagenta }}
# bright cyan
palette = 14=#{{ .theme.brightcyan }}
# bright white
palette = 15=#{{ .theme.white }}

bold-color = bright
bold-is-bright = true
