config-file = colors.ghostty
config-file = font.ghostty

window-decoration = false
background-image-fit = none
background-image-repeat = true

maximize = true

window-padding-x = 2
window-padding-y = 2

term = xterm-256color
window-inherit-working-directory = true
tab-inherit-working-directory = true
split-inherit-working-directory = true

cursor-style-blink = false
cursor-style = block
shell-integration-features = no-cursor,sudo,title,ssh-env,ssh-terminfo

mouse-scroll-multiplier = 1.5
clipboard-read = allow
clipboard-write = allow
clipboard-trim-trailing-spaces = true
copy-on-select = clipboard

confirm-close-surface = false

quick-terminal-position = top
quick-terminal-screen = mouse
quick-terminal-animation-duration = 0.15

custom-shader = shaders/cursor_sweep.glsl
custom-shader = shaders/ripple_cursor.glsl

{{ if .is_laptop }}
custom-shader-animation = false
{{ else }}
custom-shader-animation = true
{{ end }}
