
bat-extras
eza
fzf
git-delta
glow
lazygit
mediainfo
nvim
ripgrep
yazi
zoxide

{{ if .has_custom_wm }}

adw-gtk-theme
brightnessctl
cliphist
ffmpeg
gnome-keyring
hyprlock
kanshi
niri
pipewire
pipewire-pulse
playerctl
quickshell
qqc2-desktop-style
qt5ct
qt6ct
thunar
wireplumber
wl-clip-persist
wl-clipboard
xdg-desktop-portal-gnome
xdg-desktop-portal-gtk
xdg-utils
xorg-xrdb
xwayland-satellite

{{ end }}
{{ if eq .platform "desktop" }}

imv
jre-openjdk
kdeconnect
kitty
libreoffice-fresh
mpv
zathura
zathura-djvu
zathura-pdf-mupdf

{{ end }}
