
bat-extras
eza
fzf
git-delta
glow
lazygit
mediainfo
nvim
ripgrep
yazi
zoxide

{{ if .has_custom_wm }}

adw-gtk-theme
brightnessctl
cliphist
eww
ffmpeg
hyprlock
hyprpolkitagent
jre-openjdk
kanshi
niri
pipewire
python-numpy
python-pillow
qt5ct
qt6ct
swaybg
swayidle
wireplumber
wl-clip-persist
wl-clipboard
xdg-desktop-portal-gnome
xdg-desktop-portal-gtk
xwayland-satellite

{{ end }}
{{ if eq .platform "desktop" }}

foot
ghostty
libreoffice-fresh
zathura

{{ end }}
