vim.pack.add {
    { src = 'https://github.com/RRethy/base16-nvim' },
}

require('base16-colorscheme').setup {
    base00 = '#{{ .theme.background }}',
    base01 = '#{{ .theme.surface }}',
    base02 = '#{{ .theme.outline_variant }}',
    base03 = '#{{ .theme.outline }}',
    base04 = '#{{ .theme.white }}',
    base05 = '#{{ .theme.foreground }}',
    base06 = '#{{ .theme.brightmagenta }}',
    base07 = '#{{ .theme.cyan }}',
    base08 = '#{{ .theme.red }}',
    base09 = '#{{ .theme.brightgreen }}',
    base0A = '#{{ .theme.brightred }}',
    base0B = '#{{ .theme.green }}',
    base0C = '#{{ .theme.brightcyan }}',
    base0D = '#{{ .theme.blue }}',
    base0E = '#{{ .theme.magenta }}',
    base0F = '#{{ .theme.yellow }}',
}

vim.api.nvim_set_hl(0, 'Comment', { fg = '#{{.theme.darkgray}}', italic = true, bold = true })
vim.api.nvim_set_hl(0, 'gitcommitComment', { fg = '#{{.theme.darkgray}}', italic = true, bold = true })
vim.api.nvim_set_hl(0, 'TSComment', { fg = '#{{.theme.darkgray}}', italic = true, bold = true })
vim.api.nvim_set_hl(0, '@comment', { fg = '#{{.theme.darkgray}}', italic = true, bold = true })
vim.api.nvim_set_hl(0, 'NonText', { fg = '#{{.theme.darkgray}}', italic = true, bold = true })

vim.api.nvim_set_hl(0, 'LineNr', { fg = '#{{.theme.red}}', italic = true, bold = true })
vim.api.nvim_set_hl(0, 'CursorLineNr', { fg = '#{{.theme.white}}', italic = true, bold = true })
vim.api.nvim_set_hl(0, 'Visual', { fg = '#{{.theme.primary_container_fg}}', bg = '#{{.theme.primary_container}}' })
vim.api.nvim_set_hl(0, 'FloatBorder', { fg = '#{{ .theme.outline_variant }}' })

vim.api.nvim_set_hl(0, 'CursorLine', { bg = '#{{.theme.surface }}' })
vim.api.nvim_set_hl(0, 'PmenuSel', { fg = '#{{.theme.secondary_fg}}', bg = '#{{.theme.secondary}}', bold = true })

vim.api.nvim_set_hl(0, 'MiniIconsAzure', { fg = '#{{.theme.brightblue}}' })
vim.api.nvim_set_hl(0, 'MiniIconsBlue', { fg = '#{{.theme.blue}}' })
vim.api.nvim_set_hl(0, 'MiniIconsCyan', { fg = '#{{.theme.cyan}}' })
vim.api.nvim_set_hl(0, 'MiniIconsGreen', { fg = '#{{.theme.green}}' })
vim.api.nvim_set_hl(0, 'MiniIconsGrey', { fg = '#{{.theme.foreground}}' })
vim.api.nvim_set_hl(0, 'MiniIconsOrange', { fg = '#{{.theme.brightred}}' })
vim.api.nvim_set_hl(0, 'MiniIconsPurple', { fg = '#{{.theme.magenta}}' })
vim.api.nvim_set_hl(0, 'MiniIconsRed', { fg = '#{{.theme.red}}' })
vim.api.nvim_set_hl(0, 'MiniIconsYellow', { fg = '#{{.theme.yellow}}' })

vim.api.nvim_set_hl(0, 'MiniStatuslineModeNormal', { fg = '#{{ .theme.primary_container_fg }}', bg = '#{{ .theme.primary_container }}', bold = true })

vim.api.nvim_set_hl(0, 'TelescopeBorder', { fg = '#{{ .theme.outline_variant }}', bg = '#{{ .theme.background }}' })
vim.api.nvim_set_hl(0, 'TelescopeNormal', { bg = '#{{ .theme.surface }}' })
vim.api.nvim_set_hl(0, 'TelescopePromptBorder', { fg = '#{{ .theme.outline_variant }}', bg = '#{{ .theme.outline_variant }}' })
vim.api.nvim_set_hl(0, 'TelescopePromptNormal', { fg = '#{{ .theme.secondary_fg }}', bg = '#{{ .theme.surface }}', bold = true })
vim.api.nvim_set_hl(0, 'TelescopePromptPrefix', { fg = '#{{ .theme.green }}', bold = true })
vim.api.nvim_set_hl(0, 'TelescopePromptTitle', { fg = '#{{ .theme.tertiary_fg }}', italic = true, bold = true })
vim.api.nvim_set_hl(0, 'TelescopePreviewTitle', { fg = '#{{ .theme.tertiary_fg }}', italic = true, bold = true })
vim.api.nvim_set_hl(0, 'TelescopeResultsTitle', { fg = '#{{ .theme.tertiary_fg }}', italic = true, bold = true })
vim.api.nvim_set_hl(0, 'TelescopeSelection', { fg = '#{{ .theme.secondary_fg }}', bg = '#{{ .theme.secondary }}', bold = true })

vim.api.nvim_set_hl(0, 'Indent', { fg = '#{{ .theme.black }}' })
vim.api.nvim_set_hl(0, 'IndentScope', { fg = '#{{ .theme.darkgray }}', bold = true })

vim.api.nvim_set_hl(0, 'SnacksPickerListCursorLine', { fg = '#{{ .theme.secondary_fg }}', bg = '#{{ .theme.secondary }}', bold = true })

vim.api.nvim_set_hl(0, 'GitSignsStagedAddLn', { bg = '#{{ .theme.surface_variant }}' })
vim.api.nvim_set_hl(0, 'GitSignsStagedChangeLn', { link = 'GitSignsStagedAddLn' })
vim.api.nvim_set_hl(0, 'GitSignsStagedUntrackedLn', { bg = '#{{ .theme.surface }}' })
vim.api.nvim_set_hl(0, 'GitSignsStagedChangedeleteLn', { link = 'GitSignsStagedAddLn' })

vim.api.nvim_set_hl(0, 'GitSignsStagedAddCul', { link = 'CursorLine' })
vim.api.nvim_set_hl(0, 'GitSignsStagedChangeCul', { link = 'CursorLine' })
vim.api.nvim_set_hl(0, 'GitSignsStagedDeleteCul', { link = 'CursorLine' })
vim.api.nvim_set_hl(0, 'GitSignsStagedChangedeleteCul', { link = 'CursorLine' })
vim.api.nvim_set_hl(0, 'GitSignsStagedTopdeleteCul', { link = 'CursorLine' })
vim.api.nvim_set_hl(0, 'GitSignsStagedUntrackedCul', { link = 'CursorLine' })

vim.api.nvim_set_hl(0, 'GitSignsStagedAdd', { fg = '#{{ .theme.darkgray }}', bold = true })
vim.api.nvim_set_hl(0, 'GitSignsStagedChange', { link = 'GitSignsStagedAdd' })
vim.api.nvim_set_hl(0, 'GitSignsStagedDelete', { link = 'GitSignsStagedAdd' })
vim.api.nvim_set_hl(0, 'GitSignsStagedChangedelete', { link = 'GitSignsStagedAdd' })
vim.api.nvim_set_hl(0, 'GitSignsStagedTopdelete', { link = 'GitSignsStagedAdd' })
vim.api.nvim_set_hl(0, 'GitSignsStagedUntracked', { link = 'GitSignsStagedAdd' })

vim.api.nvim_set_hl(0, 'GitSignsStagedAddNr', { link = 'GitSignsStagedAdd' })
vim.api.nvim_set_hl(0, 'GitSignsStagedChangeNr', { link = 'GitSignsStagedChange' })
vim.api.nvim_set_hl(0, 'GitSignsStagedDeleteNr', { link = 'GitSignsStagedDelete' })
vim.api.nvim_set_hl(0, 'GitSignsStagedChangedeleteNr', { link = 'GitSignsStagedChangedelete' })
vim.api.nvim_set_hl(0, 'GitSignsStagedTopdeleteNr', { link = 'GitSignsStagedTopdelete' })
vim.api.nvim_set_hl(0, 'GitSignsStagedUntrackedNr', { link = 'GitSignsStagedUntracked' })
