
zstyle ':completion:*:default' list-colors "${(s.:.)LS_COLORS}ma=38;2;$(_hex_to_sh_rgb {{ .theme.secondary_fg }});48;2;$(_hex_to_sh_rgb {{ .theme.secondary }})"

export FZF_DEFAULT_OPTS="
  --color=bg+:#{{ .theme.secondary }},fg+:#{{ .theme.secondary_fg }},pointer:#{{ .theme.tertiary_container_fg }}
  --height=50%
  --layout=reverse
  --info=inline
  --margin=1
  --tmux top,40%
  --bind 'ctrl-y:execute-silent(printf {} | cut -f 2- | wl-copy --trim-newline)'"

export NEWT_COLORS='
	root=,default
	roottext=brightred,default
	border=gray,black
	window=lightgray,black
	title=white,black
	textbox=lightgray,black
	acttextbox=white,gray
	button=white,gray
	actbutton=brightmagenta,black
	compactbutton=brightmagenta,black
	listbox=lightgray,black
	actlistbox=white,gray
	actsellistbox=white,gray
	checkbox=lightgray,black
	actcheckbox=white,gray
	entry=lightgray,gray
	disentry=gray,black
	label=lightgray,black
	emptyscale=,black
	fullscale=,gray
'
