[Settings]
gtk-theme-name=adw-gtk3-dark
gtk-icon-theme-name={{ .theme.icons }}
gtk-font-name={{ .font.regular }} {{ .font.size.M }}
gtk-application-prefer-dark-theme={{ int .theme.is_dark }}
gtk-cursor-theme-name={{ .theme.cursor.theme }}
gtk-cursor-theme-size={{ .theme.cursor.size }}
