
// Monitor manager
spawn-at-startup "kanshi"

// Desktop Shell
spawn-at-startup "qs" "--no-duplicate"

// Clipboard
spawn-at-startup "wl-clip-persist" "--clipboard" "regular"
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"
