
include "conf/input.kdl"
include "conf/autostart.kdl"
include "conf/layout.kdl"
include "conf/animations.kdl"
include "conf/binds.kdl"
include "conf/gestures.kdl"
include "conf/windowrules.kdl"
include "conf/misc.kdl"
include "conf/overview.kdl"
include "conf/workspaces.kdl"
include "conf/colors.kdl"
