
include "input.kdl"
include "autostart.kdl"
include "layout.kdl"
include "animations.kdl"
include "binds.kdl"
include "gestures.kdl"
include "windowrules.kdl"
include "misc.kdl"
include "overview.kdl"
include "workspaces.kdl"
include "cursor.kdl"
include "colors.kdl"
