
[ColorScheme]
# Array Mapping Order:
#               0:WindowText,                       1:Button,                            2:Light,             3:Midlight,               4:Dark,                  5:Mid,                            6:Text,                      7:BrightText,                      8:ButtonText,              9:Base,                  10:Window,               11:Shadow, 12:Highlight,                        13:HighlightedText,                14:Link,                    15:LinkVisited,       16:AlternateBase,                   17:NoRole,                 18:ToolTipBase,           19:ToolTipText,           20:PlaceholderText

active_colors=#{{ .theme.main_color_foreground }}, #{{ .theme.secondary_background }}, #{{ .theme.white }}, #{{ .theme.lightgray }}, #{{ .theme.background }}, #{{ .theme.secondary_background }}, #{{ .theme.foreground }}, #{{ .theme.highlight_foreground }}, #{{ .theme.foreground }}, #{{ .theme.background }}, #{{ .theme.background }}, #000000, #{{ .theme.highlight_background }}, #{{ .theme.highlight_foreground }}, #{{ .theme.brightmagenta }}, #{{ .theme.magenta }}, #{{ .theme.secondary_background }}, #{{ .theme.background }}, #{{ .theme.background }}, #{{ .theme.foreground }}, #{{ .theme.secondary_foreground }}
inactive_colors=#{{ .theme.main_color_foreground }}, #{{ .theme.secondary_background }}, #{{ .theme.white }}, #{{ .theme.lightgray }}, #{{ .theme.background }}, #{{ .theme.secondary_background }}, #{{ .theme.foreground }}, #{{ .theme.highlight_foreground }}, #{{ .theme.foreground }}, #{{ .theme.background }}, #{{ .theme.background }}, #000000, #{{ .theme.highlight_background }}, #{{ .theme.highlight_foreground }}, #{{ .theme.brightmagenta }}, #{{ .theme.magenta }}, #{{ .theme.secondary_background }}, #{{ .theme.background }}, #{{ .theme.background }}, #{{ .theme.foreground }}, #{{ .theme.secondary_foreground }}
disabled_colors=#{{ .theme.secondary_foreground }}, #{{ .theme.secondary_background }}, #{{ .theme.darkgray }}, #{{ .theme.darkgray }}, #{{ .theme.darkgray }}, #{{ .theme.darkgray }}, #{{ .theme.secondary_foreground }}, #{{ .theme.highlight_foreground }}, #{{ .theme.foreground }}, #{{ .theme.background }}, #{{ .theme.background }}, #000000, #{{ .theme.secondary_background }}, #{{ .theme.highlight_foreground }}, #{{ .theme.brightmagenta }}, #{{ .theme.magenta }}, #{{ .theme.secondary_background }}, #{{ .theme.background }}, #{{ .theme.background }}, #{{ .theme.secondary_foreground }}, #{{ .theme.secondary_foreground }}
