
[ColorScheme]
# Array Mapping Order:
#                   0:WindowText,               1:Button,               2:Light,                3:Midlight,             4:Dark,                  5:Mid,                 6:Text,                     7:BrightText,                       8:ButtonText,               9:Base,                 10:Window,                  11:Shadow,                  12:Highlight,                       13:HighlightedText,                 14:Link,                    15:LinkVisited,                         16:AlternateBase,                   17:NoRole,        18:ToolTipBase,         19:ToolTipText,           20:PlaceholderText

active_colors=#{{   .theme.tertiary_fg }}, #{{  .theme.surface }}, #{{  .theme.white }}, #{{    .theme.darkgray }}, #{{ .theme.scrim }}, #{{    .theme.black }}, #{{    .theme.surface_fg }}, #{{   .theme.surface_variant_fg }}, #{{   .theme.primary_fg }}, #{{   .theme.surface }}, #{{  .theme.background }}, #{{   .theme.shadow_argb }}, #{{  .theme.primary_container }}, #{{    .theme.primary_container_fg }}, #{{ .theme.tertiary_fg }}, #{{  .theme.tertiary_container_fg }}, #{{    .theme.surface_variant }}, #{{ .theme.scrim }}, #{{ .theme.surface }}, #{{ .theme.surface_fg }}, #{{ .theme.tertiary_fg }}
inactive_colors=#{{ .theme.tertiary_fg }}, #{{  .theme.surface }}, #{{  .theme.white }}, #{{    .theme.darkgray }}, #{{ .theme.scrim }}, #{{    .theme.black }}, #{{    .theme.surface_fg }}, #{{   .theme.surface_variant_fg }}, #{{   .theme.primary_fg }}, #{{   .theme.surface }}, #{{  .theme.background }}, #{{   .theme.shadow_argb }}, #{{  .theme.primary_container }}, #{{    .theme.primary_container_fg }}, #{{ .theme.tertiary_fg }}, #{{  .theme.tertiary_container_fg }}, #{{    .theme.surface_variant }}, #{{ .theme.scrim }}, #{{ .theme.surface }}, #{{ .theme.surface_fg }}, #{{ .theme.tertiary_fg }}
disabled_colors=#{{ .theme.tertiary_fg }}, #{{  .theme.surface }}, #{{  .theme.white }}, #{{    .theme.darkgray }}, #{{ .theme.scrim }}, #{{    .theme.black }}, #{{    .theme.surface_fg }}, #{{   .theme.surface_variant_fg }}, #{{   .theme.primary_fg }}, #{{   .theme.surface }}, #{{  .theme.background }}, #{{   .theme.shadow_argb }}, #{{  .theme.primary_container }}, #{{    .theme.primary_container_fg }}, #{{ .theme.tertiary_fg }}, #{{  .theme.tertiary_container_fg }}, #{{    .theme.surface_variant }}, #{{ .theme.scrim }}, #{{ .theme.surface }}, #{{ .theme.surface_fg }}, #{{ .theme.tertiary_fg }}
