[ColorEffects:Disabled]
Color=56,56,56
ColorAmount=0
ColorEffect=0
ContrastAmount=0.65
ContrastEffect=1
IntensityAmount=0.1
IntensityEffect=2

[ColorEffects:Inactive]
ChangeSelectionColor=true
Color=112,111,110
ColorAmount=0.025
ColorEffect=2
ContrastAmount=0.1
ContrastEffect=2
Enable=false
IntensityAmount=0
IntensityEffect=0

[Colors:Button]
BackgroundAlternate={{ template "hex_to_rgb" .theme.primary }}
BackgroundNormal={{ template "hex_to_rgb" .theme.primary_container }}
DecorationFocus={{ template "hex_to_rgb" .theme.primary_container_fg }}
DecorationHover={{ template "hex_to_rgb" .theme.primary_container }}
ForegroundActive={{ template "hex_to_rgb" .theme.primary_fg }}
ForegroundInactive={{ template "hex_to_rgb" .theme.primary_container_fg }}
ForegroundLink={{ template "hex_to_rgb" .theme.tertiary_container_fg }}
ForegroundNegative={{ template "hex_to_rgb" .theme.error_fg }}
ForegroundNeutral={{ template "hex_to_rgb" .theme.yellow }}
ForegroundNormal={{ template "hex_to_rgb" .theme.primary_fg }}
ForegroundPositive={{ template "hex_to_rgb" .theme.green }}
ForegroundVisited={{ template "hex_to_rgb" .theme.magenta }}

[Colors:Complementary]
BackgroundAlternate={{ template "hex_to_rgb" .theme.inverse_surface }}
BackgroundNormal={{ template "hex_to_rgb" .theme.inverse_surface }}
DecorationFocus={{ template "hex_to_rgb" .theme.primary_container_fg }}
DecorationHover={{ template "hex_to_rgb" .theme.primary_container }}
ForegroundActive={{ template "hex_to_rgb" .theme.inverse_surface_fg }}
ForegroundInactive={{ template "hex_to_rgb" .theme.scrim }}
ForegroundLink={{ template "hex_to_rgb" .theme.tertiary_container_fg }}
ForegroundNegative={{ template "hex_to_rgb" .theme.error_fg }}
ForegroundNeutral={{ template "hex_to_rgb" .theme.cyan }}
ForegroundNormal={{ template "hex_to_rgb" .theme.inverse_surface_fg }}
ForegroundPositive={{ template "hex_to_rgb" .theme.green }}
ForegroundVisited={{ template "hex_to_rgb" .theme.magenta }}

[Colors:Header]
BackgroundAlternate={{ template "hex_to_rgb" .theme.surface }}
BackgroundNormal={{ template "hex_to_rgb" .theme.surface }}
DecorationFocus={{ template "hex_to_rgb" .theme.secondary_fg }}
DecorationHover={{ template "hex_to_rgb" .theme.secondary_container }}
ForegroundActive={{ template "hex_to_rgb" .theme.tertiary_container_fg }}
ForegroundInactive={{ template "hex_to_rgb" .theme.tertiary_fg }}
ForegroundLink={{ template "hex_to_rgb" .theme.tertiary_container_fg }}
ForegroundNegative={{ template "hex_to_rgb" .theme.error_fg }}
ForegroundNeutral={{ template "hex_to_rgb" .theme.yellow }}
ForegroundNormal={{ template "hex_to_rgb" .theme.surface_fg }}
ForegroundPositive={{ template "hex_to_rgb" .theme.green }}
ForegroundVisited={{ template "hex_to_rgb" .theme.magenta }}

[Colors:Header][Inactive]
BackgroundAlternate={{ template "hex_to_rgb" .theme.background }}
BackgroundNormal={{ template "hex_to_rgb" .theme.background }}
DecorationFocus={{ template "hex_to_rgb" .theme.secondary_fg }}
DecorationHover={{ template "hex_to_rgb" .theme.secondary_container }}
ForegroundActive={{ template "hex_to_rgb" .theme.tertiary_container_fg }}
ForegroundInactive={{ template "hex_to_rgb" .theme.tertiary_fg }}
ForegroundLink={{ template "hex_to_rgb" .theme.tertiary_container_fg }}
ForegroundNegative={{ template "hex_to_rgb" .theme.error_fg }}
ForegroundNeutral={{ template "hex_to_rgb" .theme.yellow }}
ForegroundNormal={{ template "hex_to_rgb" .theme.foreground }}
ForegroundPositive={{ template "hex_to_rgb" .theme.green }}
ForegroundVisited={{ template "hex_to_rgb" .theme.magenta }}

[Colors:Selection]
BackgroundAlternate={{ template "hex_to_rgb" .theme.secondary_container }}
BackgroundNormal={{ template "hex_to_rgb" .theme.secondary }}
DecorationFocus={{ template "hex_to_rgb" .theme.primary_container_fg }}
DecorationHover={{ template "hex_to_rgb" .theme.primary_container }}
ForegroundActive={{ template "hex_to_rgb" .theme.secondary_container_fg }}
ForegroundInactive={{ template "hex_to_rgb" .theme.secondary_fg }}
ForegroundLink={{ template "hex_to_rgb" .theme.tertiary_container_fg }}
ForegroundNegative={{ template "hex_to_rgb" .theme.error_fg }}
ForegroundNeutral={{ template "hex_to_rgb" .theme.brightyellow }}
ForegroundNormal={{ template "hex_to_rgb" .theme.primary_container_fg }}
ForegroundPositive={{ template "hex_to_rgb" .theme.brightgreen }}
ForegroundVisited={{ template "hex_to_rgb" .theme.brightmagenta }}

[Colors:Tooltip]
BackgroundAlternate={{ template "hex_to_rgb" .theme.surface }}
BackgroundNormal={{ template "hex_to_rgb" .theme.scrim }}
DecorationFocus={{ template "hex_to_rgb" .theme.tertiary_container_fg }}
DecorationHover={{ template "hex_to_rgb" .theme.tertiary_fg }}
ForegroundActive={{ template "hex_to_rgb" .theme.surface_fg }}
ForegroundInactive={{ template "hex_to_rgb" .theme.outline }}
ForegroundLink={{ template "hex_to_rgb" .theme.tertiary_container_fg }}
ForegroundNegative={{ template "hex_to_rgb" .theme.error_fg }}
ForegroundNeutral={{ template "hex_to_rgb" .theme.yellow }}
ForegroundNormal={{ template "hex_to_rgb" .theme.surface_fg }}
ForegroundPositive={{ template "hex_to_rgb" .theme.green }}
ForegroundVisited={{ template "hex_to_rgb" .theme.magenta }}

[Colors:View]
BackgroundAlternate={{ template "hex_to_rgb" .theme.scrim }}
BackgroundNormal={{ template "hex_to_rgb" .theme.surface }}
DecorationFocus={{ template "hex_to_rgb" .theme.primary }}
DecorationHover={{ template "hex_to_rgb" .theme.primary_container }}
ForegroundActive={{ template "hex_to_rgb" .theme.surface_fg }}
ForegroundInactive={{ template "hex_to_rgb" .theme.surface_variant_fg }}
ForegroundLink={{ template "hex_to_rgb" .theme.tertiary_container_fg }}
ForegroundNegative={{ template "hex_to_rgb" .theme.error_fg }}
ForegroundNeutral={{ template "hex_to_rgb" .theme.yellow }}
ForegroundNormal={{ template "hex_to_rgb" .theme.surface_fg }}
ForegroundPositive={{ template "hex_to_rgb" .theme.green }}
ForegroundVisited={{ template "hex_to_rgb" .theme.magenta }}

[Colors:Window]
BackgroundAlternate={{ template "hex_to_rgb" .theme.background }}
BackgroundNormal={{ template "hex_to_rgb" .theme.background }}
DecorationFocus={{ template "hex_to_rgb" .theme.primary_container_fg }}
DecorationHover={{ template "hex_to_rgb" .theme.primary_container }}
ForegroundActive={{ template "hex_to_rgb" .theme.tertiary_container_fg }}
ForegroundInactive={{ template "hex_to_rgb" .theme.tertiary_fg }}
ForegroundLink={{ template "hex_to_rgb" .theme.tertiary_container_fg }}
ForegroundNegative={{ template "hex_to_rgb" .theme.error_fg }}
ForegroundNeutral={{ template "hex_to_rgb" .theme.yellow }}
ForegroundNormal={{ template "hex_to_rgb" .theme.foreground }}
ForegroundPositive={{ template "hex_to_rgb" .theme.green }}
ForegroundVisited={{ template "hex_to_rgb" .theme.magenta }}

[General]
ColorScheme=DotfilesDarkTheme
Name=Dotfiles Dark Theme
shadeSortColumn=true

[KDE]
contrast=4

[WM]
activeBackground={{ template "hex_to_rgb" .theme.tertiary }}
activeBlend={{ template "hex_to_rgb" .theme.scrim }}
activeForeground={{ template "hex_to_rgb" .theme.tertiary_fg }}
inactiveBackground={{ template "hex_to_rgb" .theme.tertiary }}
inactiveBlend={{ template "hex_to_rgb" .theme.scrim }}
inactiveForeground={{ template "hex_to_rgb" .theme.tertiary_fg }}
