[ColorEffects:Disabled]
Color=56,56,56
ColorAmount=0
ColorEffect=0
ContrastAmount=0.65
ContrastEffect=1
IntensityAmount=0.1
IntensityEffect=2

[ColorEffects:Inactive]
ChangeSelectionColor=true
Color=112,111,110
ColorAmount=0.025
ColorEffect=2
ContrastAmount=0.1
ContrastEffect=2
Enable=false
IntensityAmount=0
IntensityEffect=0

[Colors:Button]
BackgroundAlternate={{ template "hex_to_rgb" .theme.secondary_background }}
BackgroundNormal={{ template "hex_to_rgb" .theme.secondary_background }}
DecorationFocus={{ template "hex_to_rgb" .theme.main_color_foreground }}
DecorationHover={{ template "hex_to_rgb" .theme.main_color_foreground }}
ForegroundActive={{ template "hex_to_rgb" .theme.main_color_foreground }}
ForegroundInactive={{ template "hex_to_rgb" .theme.secondary_foreground }}
ForegroundLink={{ template "hex_to_rgb" .theme.blue }}
ForegroundNegative={{ template "hex_to_rgb" .theme.red }}
ForegroundNeutral={{ template "hex_to_rgb" .theme.yellow }}
ForegroundNormal={{ template "hex_to_rgb" .theme.foreground }}
ForegroundPositive={{ template "hex_to_rgb" .theme.green }}
ForegroundVisited={{ template "hex_to_rgb" .theme.magenta }}

[Colors:Complementary]
BackgroundAlternate={{ template "hex_to_rgb" .theme.secondary_background }}
BackgroundNormal={{ template "hex_to_rgb" .theme.secondary_background }}
DecorationFocus={{ template "hex_to_rgb" .theme.main_color_foreground }}
DecorationHover={{ template "hex_to_rgb" .theme.main_color_foreground }}
ForegroundActive={{ template "hex_to_rgb" .theme.main_color_foreground }}
ForegroundInactive={{ template "hex_to_rgb" .theme.secondary_foreground }}
ForegroundLink={{ template "hex_to_rgb" .theme.blue }}
ForegroundNegative={{ template "hex_to_rgb" .theme.red }}
ForegroundNeutral={{ template "hex_to_rgb" .theme.yellow }}
ForegroundNormal={{ template "hex_to_rgb" .theme.foreground }}
ForegroundPositive={{ template "hex_to_rgb" .theme.green }}
ForegroundVisited={{ template "hex_to_rgb" .theme.magenta }}

[Colors:Header]
BackgroundAlternate={{ template "hex_to_rgb" .theme.secondary_background }}
BackgroundNormal={{ template "hex_to_rgb" .theme.secondary_background }}
DecorationFocus={{ template "hex_to_rgb" .theme.main_color_foreground }}
DecorationHover={{ template "hex_to_rgb" .theme.main_color_foreground }}
ForegroundActive={{ template "hex_to_rgb" .theme.main_color_foreground }}
ForegroundInactive={{ template "hex_to_rgb" .theme.secondary_foreground }}
ForegroundLink={{ template "hex_to_rgb" .theme.blue }}
ForegroundNegative={{ template "hex_to_rgb" .theme.red }}
ForegroundNeutral={{ template "hex_to_rgb" .theme.yellow }}
ForegroundNormal={{ template "hex_to_rgb" .theme.foreground }}
ForegroundPositive={{ template "hex_to_rgb" .theme.green }}
ForegroundVisited={{ template "hex_to_rgb" .theme.magenta }}

[Colors:Header][Inactive]
BackgroundAlternate={{ template "hex_to_rgb" .theme.background }}
BackgroundNormal={{ template "hex_to_rgb" .theme.background }}
DecorationFocus={{ template "hex_to_rgb" .theme.main_color_foreground }}
DecorationHover={{ template "hex_to_rgb" .theme.main_color_foreground }}
ForegroundActive={{ template "hex_to_rgb" .theme.main_color_foreground }}
ForegroundInactive={{ template "hex_to_rgb" .theme.secondary_foreground }}
ForegroundLink={{ template "hex_to_rgb" .theme.blue }}
ForegroundNegative={{ template "hex_to_rgb" .theme.red }}
ForegroundNeutral={{ template "hex_to_rgb" .theme.yellow }}
ForegroundNormal={{ template "hex_to_rgb" .theme.secondary_foreground }}
ForegroundPositive={{ template "hex_to_rgb" .theme.green }}
ForegroundVisited={{ template "hex_to_rgb" .theme.magenta }}

[Colors:Selection]
BackgroundAlternate={{ template "hex_to_rgb" .theme.highlight_background }}
BackgroundNormal={{ template "hex_to_rgb" .theme.highlight_background }}
DecorationFocus={{ template "hex_to_rgb" .theme.highlight_background }}
DecorationHover={{ template "hex_to_rgb" .theme.highlight_background }}
ForegroundActive={{ template "hex_to_rgb" .theme.highlight_foreground }}
ForegroundInactive={{ template "hex_to_rgb" .theme.secondary_foreground }}
ForegroundLink={{ template "hex_to_rgb" .theme.brightblue }}
ForegroundNegative={{ template "hex_to_rgb" .theme.brightred }}
ForegroundNeutral={{ template "hex_to_rgb" .theme.brightyellow }}
ForegroundNormal={{ template "hex_to_rgb" .theme.highlight_foreground }}
ForegroundPositive={{ template "hex_to_rgb" .theme.brightgreen }}
ForegroundVisited={{ template "hex_to_rgb" .theme.brightmagenta }}

[Colors:Tooltip]
BackgroundAlternate={{ template "hex_to_rgb" .theme.secondary_background }}
BackgroundNormal={{ template "hex_to_rgb" .theme.secondary_background }}
DecorationFocus={{ template "hex_to_rgb" .theme.main_color_foreground }}
DecorationHover={{ template "hex_to_rgb" .theme.main_color_foreground }}
ForegroundActive={{ template "hex_to_rgb" .theme.main_color_foreground }}
ForegroundInactive={{ template "hex_to_rgb" .theme.secondary_foreground }}
ForegroundLink={{ template "hex_to_rgb" .theme.blue }}
ForegroundNegative={{ template "hex_to_rgb" .theme.red }}
ForegroundNeutral={{ template "hex_to_rgb" .theme.yellow }}
ForegroundNormal={{ template "hex_to_rgb" .theme.foreground }}
ForegroundPositive={{ template "hex_to_rgb" .theme.green }}
ForegroundVisited={{ template "hex_to_rgb" .theme.magenta }}

[Colors:View]
BackgroundAlternate={{ template "hex_to_rgb" .theme.background }}
BackgroundNormal={{ template "hex_to_rgb" .theme.background }}
DecorationFocus={{ template "hex_to_rgb" .theme.main_color_foreground }}
DecorationHover={{ template "hex_to_rgb" .theme.main_color_foreground }}
ForegroundActive={{ template "hex_to_rgb" .theme.main_color_foreground }}
ForegroundInactive={{ template "hex_to_rgb" .theme.secondary_foreground }}
ForegroundLink={{ template "hex_to_rgb" .theme.blue }}
ForegroundNegative={{ template "hex_to_rgb" .theme.red }}
ForegroundNeutral={{ template "hex_to_rgb" .theme.yellow }}
ForegroundNormal={{ template "hex_to_rgb" .theme.foreground }}
ForegroundPositive={{ template "hex_to_rgb" .theme.green }}
ForegroundVisited={{ template "hex_to_rgb" .theme.magenta }}

[Colors:Window]
BackgroundAlternate={{ template "hex_to_rgb" .theme.background }}
BackgroundNormal={{ template "hex_to_rgb" .theme.background }}
DecorationFocus={{ template "hex_to_rgb" .theme.main_color_foreground }}
DecorationHover={{ template "hex_to_rgb" .theme.main_color_foreground }}
ForegroundActive={{ template "hex_to_rgb" .theme.main_color_foreground }}
ForegroundInactive={{ template "hex_to_rgb" .theme.secondary_foreground }}
ForegroundLink={{ template "hex_to_rgb" .theme.blue }}
ForegroundNegative={{ template "hex_to_rgb" .theme.red }}
ForegroundNeutral={{ template "hex_to_rgb" .theme.yellow }}
ForegroundNormal={{ template "hex_to_rgb" .theme.foreground }}
ForegroundPositive={{ template "hex_to_rgb" .theme.green }}
ForegroundVisited={{ template "hex_to_rgb" .theme.magenta }}

[General]
ColorScheme=DotfilesDarkTheme
Name=Dotfiles Dark Theme
shadeSortColumn=true

[KDE]
contrast=4

[WM]
activeBackground={{ template "hex_to_rgb" .theme.secondary_background }}
activeBlend={{ template "hex_to_rgb" .theme.foreground }}
activeForeground={{ template "hex_to_rgb" .theme.foreground }}
inactiveBackground={{ template "hex_to_rgb" .theme.background }}
inactiveBlend={{ template "hex_to_rgb" .theme.secondary_foreground }}
inactiveForeground={{ template "hex_to_rgb" .theme.secondary_foreground }}
